<?xml version="1.0"?>
<!-- Kuka iiwa 7DoF manipulator -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa">

    <!-- Enable setting arguments from the launch file -->
    <xacro:arg name="use_sim" default="false" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="robot_ip" default="192.170.10.2" />
    <xacro:arg name="robot_port" default="30200" />
    
    <xacro:arg name="command_interface" default="position" />
    <xacro:arg name="base_frame_file" default="base_frame.yaml" />
    <xacro:arg name="description_package" default="iiwa_description" />
    <xacro:arg name="runtime_config_package" default="iiwa_description" />
    <xacro:arg name="controllers_file" default="iiwa_dual_controllers.yaml" />
    <xacro:arg name="show_aruco_board" default="false" />
    <xacro:arg name="add_gripper_links" default="true" />
    <xacro:arg name="add_virtual_camera" default="false" />
    <xacro:arg name="namespace" default="/" />

    <xacro:property name="description_package" value="$(arg description_package)"/>
    <xacro:property name="show_aruco_board" value="$(arg show_aruco_board)"/>
    <xacro:property name="add_gripper_links" value="$(arg add_gripper_links)"/>
    <xacro:property name="add_virtual_camera" value="$(arg add_virtual_camera)"/>

    <!-- Import iiwa urdf file -->
    <xacro:include filename="$(find ${description_package})/urdf/iiwa_dual.urdf.xacro" />

    <!-- Import iiwa ros2_control description -->
    <xacro:include filename="$(find ${description_package})/ros2_control/iiwa.r2c_hardware.xacro" />

    <!-- Import all Gazebo-customization elements -->
    <xacro:include filename="$(find ${description_package})/gazebo/iiwa.gazebo.xacro"/>
    
    <xacro:if value="${show_aruco_board}">
    	<xacro:include filename="$(find ${description_package})/urdf/aruco.urdf.xacro"/>
    </xacro:if>

    <xacro:include filename="$(find ${description_package})/urdf/d435.urdf.xacro"/>

    <!-- Used for fixing robot -->
    <link name="world"/>
    <gazebo reference="world">
        <static>true</static>
    </gazebo>
    
     <gazebo reference="base">
        <static>true</static>
    </gazebo>
    
    <gazebo reference="camera_pole">
        <static>true</static>
    </gazebo>

    <gazebo reference="camera">
        <static>true</static>
    </gazebo>

    <xacro:property name="left_base_frame_file" value="left_$(arg base_frame_file)"/>
    <xacro:property name="left_base_frame" value="${xacro.load_yaml(left_base_frame_file)['base_frame']}"/>
    
    <xacro:property name="right_base_frame_file" value="right_$(arg base_frame_file)"/>
    <xacro:property name="right_base_frame" value="${xacro.load_yaml(right_base_frame_file)['base_frame']}"/>
    
    <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
    </material>
    <xacro:if value="${show_aruco_board}">
    	<xacro:generic_aruco aruco_dictionary="DICT_4X4_50" aruco_id="1" aruco_l="0.2" aruco_name="marker" white_border="${50 * 0.2/700}" connected_to="r_tool0">
        <!-- fake origin not needed! when origin is not specified!-->
       	 <origin xyz="0 0.0 0.1" rpy="0 1.57 0" />
    	</xacro:generic_aruco>
   </xacro:if>

 <!-- table as base for the 2 iiwa's -->
    <link name="base">
        <visual>
            <origin xyz="-0.6 0 -0.005" rpy="0 0 0" />
            <geometry>
                <box size="1.5 1 0.01" />
            </geometry>
            <material name="White">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6 0 -0.005" rpy="0 0 0" />
            <geometry>
                <box size="1.5 1 0.01" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="10.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.001" iyy="0.0" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>


   
  <link name="table">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0" />
      <geometry>
        <box size="0.75 1.2 0.001" />
      </geometry>
      <material name="gray" />
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0" />
      <geometry>
        <box size="0.75 1.2 0.001" />
      </geometry>
    </collision>
  </link>

    <joint name="base_to_world" type="fixed">
        <parent link="world"/>
        <child link="base"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

     <joint name="world_to_table" type="fixed">
    <parent link="world" />
    <child link="table" />
    <origin rpy="0.008 0.004 3.139" xyz="0.869 -0.053 -0.050" />
    <!--<origin rpy="0.0 0.0 0.0" xyz="0.6 0 -0.055" />-->
  </joint>

  <joint name="iiwa_left_link_6_to_tactile_skin_bracket" type="fixed">
    <parent link="iiwa_left_link_6" />
    <child link="iiwa_left_tactile_skin_bracket" />
 
    <origin rpy="-0 0 0.0" xyz="0 0 0" />
  </joint>
  
  <link name="iiwa_left_tactile_skin_bracket">
    <visual>
        <origin rpy="0 0 0" xyz="0.1302 -0.0167 -0.64179"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/tactile_skin/tactile_skin_bracket.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
     <collision>
        <origin rpy="0 0 0" xyz="0.1302 -0.0167 -0.64179"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/tactile_skin/tactile_skin_bracket.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="iiwa_left_tactile_skin_joint" type="fixed">
    <parent link="iiwa_left_tactile_skin_bracket" />
    <child link="iiwa_left_tactile_skin" />
    
    <origin rpy="0 1.5707963267948966 0" xyz="0 0.015 0.0445" />     
    
    
  </joint>

     <joint name="iiwa_left_tactile_skin_center_joint" type="fixed">
    <parent link="iiwa_left_tactile_skin_bracket"/>
    <child link="iiwa_left_tactile_skin_center"/>
    <origin rpy="0 0 0" xyz="0 0.07 0"/>
  </joint>
  <link name="iiwa_left_tactile_skin_center"/>
  
  <link name="iiwa_left_tactile_skin"/>
  

  <joint name="iiwa_right_link_6_to_tactile_skin_bracket" type="fixed">
    <parent link="iiwa_right_link_6" />
    <child link="iiwa_right_tactile_skin_bracket" />
 
    <origin rpy="0.0 0.0 0.0" xyz="0 0 0" />
  </joint>
  
  <link name="iiwa_right_tactile_skin_bracket">
    <visual>
        <origin rpy="0 0 0" xyz=" 0.1302 -0.0167 -0.6417900000000001"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/tactile_skin/tactile_skin_bracket.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
        <origin rpy="0 0 0" xyz=" 0.1302 -0.0167 -0.6417900000000001"/>
      <geometry>
        <mesh filename="package://iiwa_description/meshes/tactile_skin/tactile_skin_bracket.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="iiwa_right_tactile_skin_joint" type="fixed">
    <parent link="iiwa_right_tactile_skin_bracket" />
    <child link="iiwa_right_tactile_skin" />
 
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0.009999999999999998 -0.04450000000000001" />     
  </joint>

  <joint name="iiwa_right_tactile_skin_center_joint" type="fixed">
    <parent link="iiwa_right_tactile_skin_bracket"/>
    <child link="iiwa_right_tactile_skin_center"/>
    <origin rpy="0 0 0" xyz="0 0.07 0"/>
  </joint>
  <link name="iiwa_right_tactile_skin_center"/>
 
  <link name="iiwa_right_tactile_skin"/>

 <!--
  <joint name="world_to_camera_213322070245_color_optical_frame" type="fixed">
    <parent link="world"/>
    <child link="camera_213322070245_color_optical_frame"/>
    <origin rpy="-2.436 -0.007 -1.575" xyz="-0.221 0.026 1.026"/>
  </joint>
  <link name="camera_213322070245_color_optical_frame"/>
-->
<xacro:if value="${add_virtual_camera}">

    <link name="camera_pole">
        <visual>
            <origin xyz="0 0 0.6" rpy="0 0 0" />
            <geometry>
                <box size="0.025 0.025 1.2" />
            </geometry>
            <material name="White">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6" rpy="0 0 0" />
            <geometry>
                <box size="0.025 0.025 1.2" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.001" iyy="0.0" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>

    <joint name="camera_pole_to_world" type="fixed">
        <parent link="base"/>
        <child link="camera_pole"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    <!--
    <xacro:sensor_d435 parent="camera_pole" >
        <origin xyz="-0.025 0.01 1.15" rpy="0 0.8 3.14"/>
    </xacro:sensor_d435>
-->

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.02 0.1 0.05" />
            </geometry>
            <material name="Red">
                <color rgba="0.5 0.0 0.5 1.0" />
            </material>
        </visual>
        <collision>
             <geometry>
                <box size="0.02 0.1 0.05" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.001" iyy="0.0" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>


    <joint name="camera_to_pole" type="fixed">
        <parent link="camera_pole"/>
        <child link="camera_link"/>
       <origin xyz="-0.025 0 1.15" rpy="0 -0.8 0" />
    </joint>
    
    <link name="camera_color_optical_frame"/>
    
     <joint name="camera_optical_frame_to_camera" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_color_optical_frame"/>
      
       <origin xyz="-0.025 0 0" rpy="-1.57 0 1.57" />
    </joint>
</xacro:if>

    <xacro:iiwa parent="base" prefix="iiwa_left_" add_gripper_link="${add_gripper_links}">
        <origin xyz="${left_base_frame['x']} ${left_base_frame['y']} ${left_base_frame['z']}"
            rpy="${left_base_frame['roll']} ${left_base_frame['pitch']} ${left_base_frame['yaw']}" />
    </xacro:iiwa>
 
    
    <xacro:iiwa parent="base" prefix="iiwa_right_" add_gripper_link="${add_gripper_links}">
        <origin xyz="${right_base_frame['x']} ${right_base_frame['y']} ${right_base_frame['z']}"
            rpy="${right_base_frame['roll']} ${right_base_frame['pitch']} ${right_base_frame['yaw']}" />
    </xacro:iiwa>

   
        <joint name="left_joint_tool1_plate" type="fixed">
            <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
            <parent link="iiwa_left_tool1"/>
             <child link="iiwa_left_plate_link"/>
             <axis xyz="0 0 0"/>
         </joint>

         <link name="iiwa_left_ee"/>

          <joint name="iiwa_left_joint_gripper_ee" type="fixed">
            <origin xyz="0.027 0 0.168" rpy="${0} ${-pi/2 + 0.0698} -1.5708"/>
            <parent link="iiwa_left_plate_link"/>
             <child link="iiwa_left_ee"/>
             <axis xyz="0 0 0"/>
         </joint>

           <joint name="iiwa_right_joint_tool1_plate" type="fixed">
            <origin rpy="0 0 1.5708" xyz="0 0 0"/>
            <parent link="iiwa_right_tool1"/>
             <child link="iiwa_right_plate_link"/>
             <axis xyz="0 0 0"/>
         </joint>

         <link name="iiwa_right_ee"/>

          <joint name="iiwa_right_joint_gripper_ee" type="fixed">
            <origin xyz="0.027 0 0.168" rpy="${0} ${-pi/2 + 0.0698} 1.5708"/>
            <parent link="iiwa_right_plate_link"/>
             <child link="iiwa_right_ee"/>
             <axis xyz="0 0 0"/>
         </joint>


    <xacro:iiwa_r2c_hardware
        name="iiwa_left" prefix="iiwa_left_"
        robot_ip="$(arg robot_ip)" robot_port="$(arg robot_port)"
        command_interface="$(arg command_interface)"
        initial_positions_file="left_initial_positions.yaml"
        use_sim="$(arg use_sim)" use_fake_hardware="$(arg use_fake_hardware)"
        />
        
    <xacro:iiwa_r2c_hardware
        name="iiwa_right" prefix="iiwa_right_"
        robot_ip="$(arg robot_ip)" robot_port="$(arg robot_port)"
        command_interface="$(arg command_interface)"
        initial_positions_file="right_initial_positions.yaml"
        use_sim="$(arg use_sim)" use_fake_hardware="$(arg use_fake_hardware)"
        />


    <xacro:iiwa_gazebo
        runtime_config_package="$(arg runtime_config_package)"
        controllers_file="iiwa_controllers.yaml"
        namespace="$(arg namespace)"
        prefix="l_"
        />
        
        <xacro:iiwa_gazebo
        runtime_config_package="$(arg runtime_config_package)"
        controllers_file="iiwa_controllers.yaml"
        namespace="$(arg namespace)"
        prefix="r_"
        />

</robot>
