<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <xacro:arg name="name" default="arm"/>
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="description_package" default="iiwa_description" />
  <xacro:arg name="show_aruco_board" default="false" />

  <xacro:property name="description_package" value="$(arg description_package)"/>
   <xacro:property name="show_aruco_board" value="$(arg show_aruco_board)"/>
   
  <xacro:include filename="$(find ${description_package})/srdf/iiwa_dual_macro.srdf.xacro"/>

  <disable_collisions link1="base" link2="camera_pole" reason="Adjacent" />
  <disable_collisions link1="camera_link" link2="camera_pole" reason="Adjacent" />
  
  <xacro:if value="${show_aruco_board}">
  <disable_collisions link1="marker_link_0" link2="r_link_7" reason="Adjacent" />
  <disable_collisions link1="marker_link_0" link2="r_link_6" reason="Adjacent" />
 
    
  <group_state name="calibration" group="iiwa_right_arm">
        <joint name="iiwa_right_joint_1" value="-0.08010961654547082"/>
        <joint name="iiwa_right_joint_2" value="-0.16420504552657098"/>
        <joint name="iiwa_right_joint_3" value="-0.27250731500631165"/>
        <joint name="iiwa_right_joint_4" value="1.8724710663682194"/>
        <joint name="iiwa_right_joint_5" value="1.2174080270970293"/>
        <joint name="iiwa_right_joint_6" value="1.2045682076607263"/>
        <joint name="iiwa_right_joint_7" value="-0.11062877843161172"/>
 </group_state>
  </xacro:if>

  <xacro:iiwa_srdf name="arm" prefix="iiwa_left_" base="base"/>
  <xacro:iiwa_srdf name="arm" prefix="iiwa_right_" base="base"/>

  <group name="dual_arm">
    <group name="iiwa_left_arm" />
    <group name="iiwa_right_arm" />
  </group>


</robot>
