<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="iiwa_srdf" params="name prefix base">
     <group name="${prefix}${name}">
        <chain base_link="${prefix}base" tip_link="${prefix}tool0" />
    </group>

     <group name="${prefix}${name}_ee">
        <chain base_link="${prefix}base" tip_link="${prefix}ee" />
    </group>

    <group_state name="ready" group="${prefix}${name}">
        <joint name="${prefix}joint_1" value="0"/>
        <joint name="${prefix}joint_2" value="-0.785"/>
        <joint name="${prefix}joint_3" value="0"/>
        <joint name="${prefix}joint_4" value="-2.356"/>
        <joint name="${prefix}joint_5" value="0"/>
        <joint name="${prefix}joint_6" value="1.571"/>
        <joint name="${prefix}joint_7" value="0.785"/>
    </group_state>

     <group_state name="upright" group="${prefix}${name}">
        <joint name="${prefix}joint_1" value="0"/>
        <joint name="${prefix}joint_2" value="0"/>
        <joint name="${prefix}joint_3" value="0"/>
        <joint name="${prefix}joint_4" value="0"/>
        <joint name="${prefix}joint_5" value="0"/>
        <joint name="${prefix}joint_6" value="0"/>
        <joint name="${prefix}joint_7" value="0"/>
    </group_state>
   
   
    <disable_collisions link1="${prefix}base" link2="${prefix}link_0" reason="Adjacent" />
    <disable_collisions link1="${prefix}base" link2="${prefix}link_1" reason="Never" />
    <disable_collisions link1="${prefix}base" link2="${prefix}link_2" reason="Never" />
    <disable_collisions link1="${prefix}base" link2="${prefix}link_3" reason="Never" />
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_1" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_2" reason="Never" />
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_3" reason="Never" />
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_4" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_2" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_3" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_4" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_5" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_6" reason="Never" />
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_7" reason="Never" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_3" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_4" reason="Never" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_5" reason="Never" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_6" reason="Never" />
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_7" reason="Never" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_4" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_5" reason="Never" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_6" reason="Never" />
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_7" reason="Never" />
    <disable_collisions link1="${prefix}link_4" link2="${prefix}link_5" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_4" link2="${prefix}link_6" reason="Never" />
    <disable_collisions link1="${prefix}link_4" link2="${prefix}link_7" reason="Never" />
    <disable_collisions link1="${prefix}link_5" link2="${prefix}link_6" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_5" link2="${prefix}link_7" reason="Never" />
    <disable_collisions link1="${prefix}link_6" link2="${prefix}link_7" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_7" link2="${prefix}tool0" reason="Adjacent" />
    <disable_collisions link1="${prefix}ft_sensor_link" link2="${prefix}link_7" reason="Adjacent" />
    <disable_collisions link1="${prefix}ft_sensor_link" link2="${prefix}plate_link" reason="Adjacent" />
    <disable_collisions link1="${prefix}link_6" link2="${prefix}tactile_skin_bracket" reason="Adjacent" />
   
  </xacro:macro>
</robot>
